

<div style="max-width:  50%;margin-left: 25%; margin-top: 10%">
    <scale-card>
        <h1>Upload</h1>
        <form (ngSubmit)="onSubmit()">

            <p style="margin-top: auto">Titel
                <scale-text-field (input)="setTitelEvent($event)" formControlName="Titel">
                </scale-text-field>
            </p>

            <p style="margin-top: auto">Tags
                <scale-text-field (input)="setTagsEvent($event)" formControlName="tags"></scale-text-field>

            </p>
            <p style="margin-top: auto">Jahrgang
                <scale-text-field (input)="setJahrgangEvent($event)" formControlName="Jahrgang">
                </scale-text-field>
            </p>

            <p style="margin-top: auto">Hochschule
                <scale-text-field (input)="setHochschuleEvent($event)" formControlName="Hochschule"> 
                    </scale-text-field>

            </p>

            <p style="margin-top: auto">Beschreibung
                <scale-text-field (input)="setBeschreibungEvent($event)" formControlName="Beschreibung"></scale-text-field>

            </p>
          
            <p style="margin-top: auto"> Upload
            <input type="file" #fileInput (change)="onFileInput(fileInput.files)" />
        </p>
        <scale-button type="submit" >Hochladen</scale-button>

        </form>
       
        <div *ngIf="isUploaded">
            Uploaded erfolgreich
        </div>
        <div *ngIf="errorMessage" style="color: red">
            {{errorMessage}}
        </div>

    </scale-card>
</div>




