<style>
  .post-container{
    display: flex;
    border: 1px black solid;
    border-radius: 4px;
    padding: 30px 30px;
    background-color: white;
  }
  .post-content{
    display: flex;
    flex-flow: column wrap;
  }
  .post-voting {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    min-width: 50px;
  }
  .post-voting * {
    margin: auto;
  }
  a{
    cursor: pointer;
  }
  .tags *{
    margin-right: 5px;
  }
  .post-options{
    margin-top 15px;
    min-height: 30px;
    display: flex;
  }
  .post-options scale-button{
    margin-top: 10px
  }
  .post-options scale-button:hover{
    background-color: rgba(0,0,0,0.05);
    border: 0px;
  }
  .post-options *{
    margin-right: 5px;
  }
  .post-comment{
    margin-top: 15px;
    display: flex;
  }
  .post-comment scale-textarea{
    flex-grow: 1;
  }
  .post-comment scale-button {
      align-self: center;
      margin-left: 15px;
  }

</style>


<div class="post-container">
  <div class="post-content">

    <h2><h6>Gepostet von <a>UserName</a> </h6>PostTitle<hr></h2>

    <p>Muhlenrad sie unterwegs dahinging nur dir tanzmusik plotzlich ihr. Da uberwunden neidgefuhl in nachtessen ei. So filzhut da scheint zu standen geruckt bruchig. Tor bosheit schonen tat bis klopfen wie zuhorte brachte. Ubelnehmen messingnen die aufmerksam augenblick gearbeitet das. Es getraumt befehlen an wu schmalen spateren geholfen zu. Es horen hinab kinde fu zu stand sitte. Den jenseits ehe tal gerberei ist lampchen.</p>

    <div class="tags">
      <scale-tag size="small">A small tag</scale-tag>
      <scale-tag size="small">A small tag</scale-tag>
    </div>

    <div class="post-options">
      <scale-button variant="secondary"  (click)="showComment()"><scale-icon-communication-message accessibility-title="Kommentieren" ></scale-icon-communication-message>Kommentieren</scale-button>
      <scale-button  variant="secondary"><scale-icon-alert-error accessibility-title="melden"></scale-icon-alert-error>melden</scale-button>
    </div>

    <div class="post-comment" >
      <scale-textarea label="Kommentar" rows="2" resize="none" max-length="480" id="2" style="display: none"></scale-textarea>
      <scale-button id="3" style="display: none">Post</scale-button>
    </div>

  </div>
  <div class="post-voting">
    <scale-icon-action-add accessibility-title="Hochwähli"></scale-icon-action-add>
    <h6>25</h6>
    <scale-icon-action-indeterminate accessibility-title="Runterwähli"></scale-icon-action-indeterminate>
  </div>

</div>
