<style>
.card {
  margin-top: 150px;
}
input{
  background: #fafbfc;
  border-radius: 5px;
  border-style: ridge;
  padding: 15px;
  font-size: 20px;
  border-color: #cccccc;

}
input:hover {
  background-color: #dfdfdf;
}
input:focus {
  border-color: cyan;
}
button{
  color: white;
  background: #E20074;
  border: 1px solid darkred;
  border-radius: 5px;
}
button:hover{
  background-color: #d0006b;
  border-color: #a00053;
}
button:active {
  background-color: #d0006b;
  border-color: #a00053;
}

  .form-group a {
    color: black;
  }
a:hover {
  color: black;
}
</style>


<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="Benutzer" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="PW" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button id="absenden" [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a routerLink="../register" class="btn btn-link">Register</a>
            </div>
        </form>
    </div>
</div>
