<!--&lt;!&ndash; main app container &ndash;&gt;
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<div class="header" role="banner" >
  <scale-app-header slot="header" id="header">
    <div slot="menu-addon">

      <scale-nav-segment *ngIf="user" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</scale-nav-segment>
      <scale-nav-segment *ngIf="user">
        <div class="header-left">
          <a class="nav-item nav-link" routerLink="/overview" routerLinkActive="active">Upload</a>
        </div>
      </scale-nav-segment>
      <scale-nav-segment *ngIf="user">
        <div class="header-left">
          <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        </div>
      </scale-nav-segment>
      <scale-nav-segment *ngIf="user">
        <div class="header-left">
          <a class="nav-item nav-link" routerLink="/documents" routerLinkActive="active">Documents</a>
        </div>
      </scale-nav-segment>
      <scale-nav-segment *ngIf="user">
        <div class="header-left">
          <a class="nav-item nav-link" routerLink="/test-api" routerLinkActive="active">API</a>
        </div>
      </scale-nav-segment>

        <div class="header-middle">
          <h1>Placeholder</h1>
        </div>



      <scale-nav-segment *ngIf="user">
        <div class="header-right">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
      </scale-nav-segment>
      <scale-nav-segment *ngIf="user">
        <div class="header-right">
          <div class="navbar-nav-search">
            <scale-text-field size="small" label="Suchen" placeholder="Altklausuren Mathe 2"></scale-text-field>
            <h2>Testtextlänge</h2>
          </div>
        </div>
      </scale-nav-segment>
      <scale-nav-segment *ngIf="user">
        <div class="header-right">
          <div class="searchbutton">
            <scale-button size="small">
              <scale-icon-action-search></scale-icon-action-search>Starten
            </scale-button>
          </div>
        </div>
      </scale-nav-segment>
    </div>
  </scale-app-header>
</div>

<div class="footer">
  <scale-app-footer :variant="variant">
    <div slot="navigation">
      <p>Contact:  <a href="MagentaDrive@mg.telekom.de">Email  </a> <a href="https://teltec.telekom.de/?login=1&imprint=1#p_privacy">Datenschutz  </a> <a href="https://teltec.telekom.de/?login=1&imprint=1#p_imprint">Impressum </a> </p>
    </div>
  </scale-app-footer>
</div>-->

<body>
<scale-app-shell>
  <scale-app-header slot="header" id="header">
    <div slot="menu-main">
      <scale-nav-main name="Home" class="nav-item nav-link" routerLink="/" routerLinkActive=active [routerLinkActiveOptions]="{exact: true}"></scale-nav-main>
      <scale-nav-main name="Upload" class="nav-item nav-link" routerLink="/overview" routerLinkActive="active" ></scale-nav-main>
      <scale-nav-main name="Documents" class="nav-item nav-link" routerLink="/documents" routerLinkActive="active"></scale-nav-main>
      <scale-nav-main name="Users" class="nav-item nav-link" routerLink="/users" routerLinkActive="active"></scale-nav-main>
    </div>
  </scale-app-header>
  <div style="height: 800px; padding: 48px 0;">
    Scroll to test header behavior
  </div>
  <div style="height: 800px; padding: 48px 0;">
    Scroll more to test header behavior
  </div>
</scale-app-shell>

