
<style>
  :host {
    font-family: "TeleNeoWeb",Calibri,"PT Sans Narrow",sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .app-name{
    transition-duration: 0.5s ;
  }
  scale-nav-main{
    font-family: "TeleNeoWeb", Calibri, "PT Sans Narrow", sans-serif;
  }
  scale-app-header{
    font-family: "TeleNeoWeb", Calibri, "PT Sans Narrow", sans-serif;
  }

  scale-text-field {
    width: 340px;
  }

  .app-container{
    margin-top:0;
    width: 100%;
    height: 800px;
  }
  .search-icon{
    position: relative;
    z-index:1;
    margin-right: -330px;
  }
  h1{
    margin-top: 20px;
  }
  .footer {
    font-family: "TeleNeoWeb", Calibri, "PT Sans Narrow", sans-serif;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  .footer a:link {
    color: white;
  }

  a:link {
    color: white;
  }
  a:link:hover{
    color: white;
  }

</style>
  <body>
  <scale-app-shell>
    <scale-app-header id="header" portalName="MagentaDrive" slot="header">
      <div slot="menu-sector">
        <h1 class="app-name">MagentaDrive</h1>
      </div>

      <div slot="menu-main">
        <scale-nav-main *ngIf="isLoggedIn" [routerLinkActiveOptions]="{exact: true}" name="Home" routerLink="/" routerLinkActive="active"></scale-nav-main>
        <scale-nav-main *ngIf="isLoggedIn" name="Users" routerLink="/users" routerLinkActive="active"></scale-nav-main>
        <scale-nav-main *ngIf="isLoggedIn" fill="#ffffff" name="Documents" routerLink="/documents" routerLinkActive="active"></scale-nav-main>
      </div>

      <div *ngIf="isLoggedIn"  slot="menu-icon">
        <scale-nav-icon class="search-icon" icon="action-search"></scale-nav-icon>
        <scale-text-field id="text-field" label="Search"></scale-text-field>
        <scale-nav-icon (click)="logout()" icon="action-logout"> Logout </scale-nav-icon>
      </div>
    </scale-app-header>
    <div [ngClass]="{ 'bg-light': isLoggedIn }" class="app-container">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>

    <!-- main app container -->

    <div class="footer" slot="footer">
      <scale-app-footer :variant="angular">
        <div slot="navigation">
          <p>Contact:  <a href="mailto:MagentaDrive@mg.telekom.de">Email  </a> <a href="https://teltec.telekom.de/?login=1&imprint=1#p_privacy">Datenschutz  </a> <a href="https://teltec.telekom.de/?login=1&imprint=1#p_imprint">Impressum </a> </p>
        </div>
      </scale-app-footer>
    </div>
  </scale-app-shell>
<body>
